html, body {
  height: 100%;
  width: 100%;
  margin: 20px;
}

#calculator {
  display: grid;
  max-width: 300px;
}
.operations {
  padding: 10px;
  margin: 5px;
  max-width: 30px;
  text-align: center;
}
a, button {
  text-decoration: none;
  font-weight: bold;
  background: #007bff;
  color: white;
  padding: 5px;
  max-width: 30px;
  margin: 10px;
}

input{
  height:20px;
  margin: 10px 0 10px 0;
}